In [123]:
import re
import pandas as pd

In [124]:
# Read data
data = pd.read_csv("C:/Users/SirFa/Downloads/LinkedIn/Team1405_DataDetectives/Cleaned Datasets/cleaned_play_store_data.csv")

In [125]:
# Define a regular expression that matches invalid characters
invalid_chars = re.compile(r"[^\x00-\x7F]+")
error_count = 0

In [126]:
# Access the specific column by name
column_data = data['App']

# Loop through each value in the column
for value in column_data:
    # Check if the value contains invalid characters
    if invalid_chars.search(value):
        # If it does, increment the counter
        error_count += 1

In [127]:
# Print the final count
print("Number of records with error-coded characters in column 'App':", error_count)

Number of records with error-coded characters in column 'App': 442

In [128]:
#alternate shortcut
cool = error_count = data['App'].str.contains(invalid_chars).sum()
print(cool)

442

In [129]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10354 entries, 0 to 10353
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      10354 non-null  int64
 1   App             10354 non-null  object
 2   Category        10354 non-null  object
 3   Rating          10354 non-null  float64
 4   Reviews         10354 non-null  int64
 5   Size            10354 non-null  object
 6   Installs        10354 non-null  int64
 7   Type            10354 non-null  object
 8   Price           10354 non-null  float64
 9   Content Rating  10354 non-null  object
 10  Genres          10354 non-null  object
 11  Last Updated    10354 non-null  object
 12  Current Ver     10354 non-null  object
 13  Android Ver     10354 non-null  object
dtypes: float64(2), int64(3), object(9)
memory usage: 1.1+ MB

In [130]:
# Create a new dataframe with invalid rows removed
cleaned_apps = data.drop(data[data['App'].str.contains(invalid_chars)].index, inplace=False)

In [131]:
cleaned_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9912 entries, 0 to 10353
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      9912 non-null   int64
 1   App             9912 non-null   object
 2   Category        9912 non-null   object
 3   Rating          9912 non-null   float64
 4   Reviews         9912 non-null   int64
 5   Size            9912 non-null   object
 6   Installs        9912 non-null   int64
 7   Type            9912 non-null   object
 8   Price           9912 non-null   float64
 9   Content Rating  9912 non-null   object
 10  Genres          9912 non-null   object
 11  Last Updated    9912 non-null   object
 12  Current Ver     9912 non-null   object
 13  Android Ver     9912 non-null   object
dtypes: float64(2), int64(3), object(9)
memory usage: 1.1+ MB

In [132]:
10354-9912

442

In [133]:
cleaned_apps.to_csv('Cleaned_Apps.csv', index=False)

In [145]:
data2 = pd.read_csv("C:/Users/SirFa/Downloads/LinkedIn/Team1405_DataDetectives/Cleaned Datasets/cleaned_playstore_reviews.csv")

,Unnamed: 0,App,Translated_Review,Sentiment,Sentiment_Polarity,Sentiment_Subjectivity
0,0,10 Best Foods for You,I like eat delicious food. That's I'm cooking ...,Positive,1.000000,0.533333
1,1,10 Best Foods for You,This help eating healthy exercise regular basis,Positive,0.250000,0.288462
2,2,10 Best Foods for You,Works great especially going grocery store,Positive,0.400000,0.875000
3,3,10 Best Foods for You,Best idea us,Positive,1.000000,0.300000
4,4,10 Best Foods for You,Best way,Positive,1.000000,0.300000
...,...,...,...,...,...,...
37422,37422,Housing-Real Estate & Property,Most ads older many agents ..not much owner po...,Positive,0.173333,0.486667
37423,37423,Housing-Real Estate & Property,"If photos posted portal load, fit purpose. I'm...",Positive,0.225000,0.447222
37424,37424,Housing-Real Estate & Property,"Dumb app, I wanted post property rent give opt...",Negative,-0.287500,0.250000
37425,37425,Housing-Real Estate & Property,I property business got link SMS happy perform...,Positive,0.800000,1.000000
37426,37426,Housing-Real Estate & Property,"Useless app, I searched flats kondapur, Hydera...",Negative,-0.316667,0.400000

In [143]:
# Define a regular expression that matches invalid characters
invalid_chars = re.compile(r"[^\x00-\x7F]+")

In [144]:
#alternate shortcut
ca = error_count = data2['App'].str.contains(invalid_chars).sum()
cb = error_count = data2['Translated_Review'].str.contains(invalid_chars).sum()
print(ca+cb)

2995

In [149]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37427 entries, 0 to 37426
Data columns (total 6 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              37427 non-null  int64
 1   App                     37427 non-null  object
 2   Translated_Review       37427 non-null  object
 3   Sentiment               37427 non-null  object
 4   Sentiment_Polarity      37427 non-null  float64
 5   Sentiment_Subjectivity  37427 non-null  float64
dtypes: float64(2), int64(1), object(3)
memory usage: 1.7+ MB

In [147]:
# Create a new dataframe with invalid rows removed
cleaned_apps = data2.drop(data2[data2['App'].str.contains(invalid_chars)].index, inplace=False)
cleaned_apps
cleaned_reviews = cleaned_apps.drop(cleaned_apps[cleaned_apps['Translated_Review'].str.contains(invalid_chars)].index, inplace=False)

In [148]:
cleaned_reviews.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 34474 entries, 0 to 37426
Data columns (total 6 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              34474 non-null  int64
 1   App                     34474 non-null  object
 2   Translated_Review       34474 non-null  object
 3   Sentiment               34474 non-null  object
 4   Sentiment_Polarity      34474 non-null  float64
 5   Sentiment_Subjectivity  34474 non-null  float64
dtypes: float64(2), int64(1), object(3)
memory usage: 1.8+ MB

In [107]:
37427 -34474

2953

In [150]:
cleaned_reviews.to_csv("Cleaned_Reviews.csv", index=False)